<section class="banner">
    <div class="layer">
        <video autoplay muted loop id="bannerVideo">
            <!-- <source src="./assets/banner.webm" type="video/mp4"> -->
        </video>

        <div class="layer-container">
            <h1>lorem ipsum dolor</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis voluptatibus necessitatibus iusto, dignissimos ipsum odit ex, incidunt aliquam natus, est voluptate. Nihil nesciunt ipsum odit quibusdam harum dicta assumenda soluta?
            </p>
        </div>
    </div>
</section>